In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from PIL import Image

In [2]:
labels2019 = pd.read_csv('../isic2019/labels/official/ISIC_2019_Training_GroundTruth.csv')
labels2020 = pd.read_csv('../labels2020.csv')

In [5]:
labels2019.head()

          image  MEL   NV  BCC   AK  BKL   DF  VASC  SCC  UNK
0  ISIC_0000000  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
1  ISIC_0000001  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
2  ISIC_0000002  1.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
3  ISIC_0000003  0.0  1.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0
4  ISIC_0000004  1.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0

In [33]:
bin_labels2019 = labels2019[['image', 'MEL']]
bin_labels2019

              image  MEL
0      ISIC_0000000  0.0
1      ISIC_0000001  0.0
2      ISIC_0000002  1.0
3      ISIC_0000003  0.0
4      ISIC_0000004  1.0
...             ...  ...
25274  ISIC_0073247  0.0
25275  ISIC_0073248  0.0
25276  ISIC_0073249  1.0
25277  ISIC_0073251  0.0
25278  ISIC_0073254  0.0

[25279 rows x 2 columns]

In [34]:
bin_labels2019 = bin_labels2019.rename(columns={'MEL': 'target', 'image': 'image_name'})
bin_labels2019['target'] = bin_labels2019['target'].astype(int)
bin_labels2019

         image_name  target
0      ISIC_0000000       0
1      ISIC_0000001       0
2      ISIC_0000002       1
3      ISIC_0000003       0
4      ISIC_0000004       1
...             ...     ...
25274  ISIC_0073247       0
25275  ISIC_0073248       0
25276  ISIC_0073249       1
25277  ISIC_0073251       0
25278  ISIC_0073254       0

[25279 rows x 2 columns]

In [35]:
bin_labels2019.loc[(labels2019['NV'] == 1.) | (labels2019['BKL'] == 1.), 'target'] = 0
bin_labels2019.loc[(labels2019['NV'] != 1.) & (labels2019['BKL'] != 1.), 'target'] = 1
bin_labels2019['target'].sum()

9808

In [36]:
bin_labels2019

         image_name  target
0      ISIC_0000000       0
1      ISIC_0000001       0
2      ISIC_0000002       1
3      ISIC_0000003       0
4      ISIC_0000004       1
...             ...     ...
25274  ISIC_0073247       1
25275  ISIC_0073248       0
25276  ISIC_0073249       1
25277  ISIC_0073251       0
25278  ISIC_0073254       0

[25279 rows x 2 columns]

In [37]:
bin_labels2020 = labels2020[['image_name', 'target']]
bin_labels2020

         image_name  target
0      ISIC_2637011       0
1      ISIC_0015719       0
2      ISIC_0052212       0
3      ISIC_0068279       0
4      ISIC_0074268       0
...             ...     ...
32248  ISIC_9999134       0
32249  ISIC_9999320       0
32250  ISIC_9999515       0
32251  ISIC_9999666       0
32252  ISIC_9999806       0

[32253 rows x 2 columns]

In [38]:
img_names2019 = labels2019.image.values
path_dict2019 = {img_name:'../isic2019/images/official/' for img_name in img_names2019}

img_names2020 = labels2020.image_name.values
path_dict2020 = {img_name:'../train/' for img_name in img_names2020}

In [ ]:
from cleanvision.dataset.base_dataset import Dataset
from cleanvision.dataset.torch_dataset import TorchDataset
import torch

class MergedDataset(torch.utils.data.Dataset):
    def __init__(self, ISIC2019_path, ISIC2020_path):
        self.labels2019 = pd.read_csv(ISIC2019_path)
        self.labels2020 = pd.read_csv(ISIC2020_path)

        img_names2019 = self.labels2019.image.values
        self.path_dict2019 = {img_name:'../isic2019/images/official/' for img_name in img_names2019}

        img_names2020 = self.labels2020.image_name.values
        self.path_dict2020 = {img_name:'../train/' for img_name in img_names2020}
    

    def __getitem__(self, index):
        if index < 25279: # the last ISIC2019 image index
            dataset = 'ISIC2019'
        else:
            index -= 25279
            dataset = 'ISIC2020'
        



        img_name = self.df['image'].values[index]
        img_path = self.path_dict[img_name] + img_name + ".jpg"
        img = Image.open(img_path).copy()

        return img, labels.target[index]

    def __len__(self):
        return self.df.shape[0]

dataset = CustomDataset(labels, path_dict)

In [40]:
labels2019.iloc[25278]

image    ISIC_0073254
MEL               0.0
NV                0.0
BCC               0.0
AK                0.0
BKL               1.0
DF                0.0
VASC              0.0
SCC               0.0
UNK               0.0
Name: 25278, dtype: object