In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
import random
import cv2
from PIL import Image

In [5]:
# %conda install openpyxl

In [14]:
data = pd.read_excel('../PH2Dataset/PH2_dataset.xlsx')
data.head(20)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,NaN,NaN,NaN,NaN,NaN,Legends,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,Asymmetry,0,Fully Simmetric,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,1,Symmetric in 1 axes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,2,Fully Asymmetric,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,Pigment Network\nDots/Globules\nStreaks\nRegre...,AT,Atypical,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,T,Typical,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,A,Absent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,P,Present,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,Clinical Diagnosis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Colors,NaN,NaN,NaN,NaN,NaN
11,Image Name,Histological Diagnosis,Common Nevus,Atypical Nevus,Melanoma,Asymmetry\n(0/1/2),Pigment Network\n(AT/T),Dots/Globules\n(A/AT/T),Streaks\n(A/P),Regression Areas\n(A/P),Blue-Whitish Veil\n(A/P),White,Red,Light-Brown,Dark-Brown,Blue-Gray,Black
12,IMD003,NaN,X,NaN,NaN,0,T,A,A,A,A,NaN,NaN,NaN,X,NaN,NaN
13,IMD009,NaN,X,NaN,NaN,0,T,A,A,A,A,NaN,NaN,X,NaN,NaN,NaN
14,IMD016,NaN,X,NaN,NaN,0,T,T,A,A,A,NaN,NaN,X,X,NaN,NaN
15,IMD022,NaN,X,NaN,NaN,0,T,A,A,A,A,NaN,NaN,X,NaN,NaN,NaN
16,IMD024,NaN,X,NaN,NaN,0,T,A,A,A,A,NaN,NaN,X,X,NaN,NaN
17,IMD025,NaN,X,NaN,NaN,0,T,T,A,A,A,NaN,NaN,X,NaN,NaN,NaN
18,IMD035,NaN,X,NaN,NaN,2,T,A,A,A,A,NaN,X,X,NaN,NaN,NaN
19,IMD038,NaN,X,NaN,NaN,0,T,T,A,A,A,NaN,NaN,NaN,X,NaN,X

In [15]:
data = data[12:].reset_index(drop=True)
data.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,IMD003,NaN,X,NaN,NaN,0,T,A,A,A,A,NaN,NaN,NaN,X,NaN,NaN
1,IMD009,NaN,X,NaN,NaN,0,T,A,A,A,A,NaN,NaN,X,NaN,NaN,NaN
2,IMD016,NaN,X,NaN,NaN,0,T,T,A,A,A,NaN,NaN,X,X,NaN,NaN
3,IMD022,NaN,X,NaN,NaN,0,T,A,A,A,A,NaN,NaN,X,NaN,NaN,NaN
4,IMD024,NaN,X,NaN,NaN,0,T,A,A,A,A,NaN,NaN,X,X,NaN,NaN
5,IMD025,NaN,X,NaN,NaN,0,T,T,A,A,A,NaN,NaN,X,NaN,NaN,NaN
6,IMD035,NaN,X,NaN,NaN,2,T,A,A,A,A,NaN,X,X,NaN,NaN,NaN
7,IMD038,NaN,X,NaN,NaN,0,T,T,A,A,A,NaN,NaN,NaN,X,NaN,X
8,IMD042,NaN,X,NaN,NaN,0,T,T,A,A,A,NaN,NaN,X,X,NaN,NaN
9,IMD044,NaN,X,NaN,NaN,0,T,T,A,A,A,NaN,NaN,NaN,X,X,NaN

In [16]:
data = data.rename(columns={'Unnamed: 0': 'image_name', 'Unnamed: 1': 'diagnosis', 'Unnamed: 2': 'nevus', 'Unnamed: 3':'atyp_nevus', 
                            'Unnamed: 4': 'melanoma', 'Unnamed: 5': 'asymmetry', 'Unnamed: 6': 'pigment', 'Unnamed: 7': 'dots',
                            'Unnamed: 8': 'streaks', 'Unnamed: 9': 'regression_areas', 'Unnamed: 10': 'blue_whitish_veil', 
                            'Unnamed: 11': 'white', 'Unnamed: 12': 'red', 'Unnamed: 13': 'light_brown', 'Unnamed: 14': 'dark_brown',
                            'Unnamed: 15': 'blue_gray', 'Unnamed: 16': 'black'})

In [9]:
data

,image_name,diagnosis,nevus,atyp_nevus,melanoma,asymmetry,pigment,dots,streaks,regression_areas,blue_whitish_veil,white,red,light_brown,dark_brown,blue_gray,black
0,IMD003,NaN,X,NaN,NaN,0,T,A,A,A,A,NaN,NaN,NaN,X,NaN,NaN
1,IMD009,NaN,X,NaN,NaN,0,T,A,A,A,A,NaN,NaN,X,NaN,NaN,NaN
2,IMD016,NaN,X,NaN,NaN,0,T,T,A,A,A,NaN,NaN,X,X,NaN,NaN
3,IMD022,NaN,X,NaN,NaN,0,T,A,A,A,A,NaN,NaN,X,NaN,NaN,NaN
4,IMD024,NaN,X,NaN,NaN,0,T,A,A,A,A,NaN,NaN,X,X,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,IMD424,Melanoma,NaN,NaN,X,2,AT,AT,P,A,P,NaN,NaN,X,X,X,X
196,IMD425,Melanoma,NaN,NaN,X,2,AT,AT,A,P,P,NaN,NaN,X,X,X,X
197,IMD426,Melanoma,NaN,NaN,X,2,AT,A,A,P,A,NaN,NaN,X,X,NaN,NaN
198,IMD429,NaN,NaN,NaN,X,0,AT,A,P,A,P,NaN,NaN,X,X,X,X
199,IMD435,Lentigo Maligna,NaN,NaN,X,2,AT,A,A,A,P,NaN,NaN,X,X,X,X

In [10]:
data.black[data.nevus == 'X'] = 1
data.black[data.melanoma == 0] = 0

In [11]:
data.melanoma.value_counts(), data.nevus.value_counts()

(melanoma
 X    40
 Name: count, dtype: int64,
 nevus
 X    80
 Name: count, dtype: int64)

In [12]:
data.to_csv('../PH2Dataset/PH2_dataset.csv', index=False)

In [13]:
data_bin = data[['image_name', 'nevus', 'melanoma']]
data_bin.head(10)

  image_name nevus melanoma
0     IMD003     X      NaN
1     IMD009     X      NaN
2     IMD016     X      NaN
3     IMD022     X      NaN
4     IMD024     X      NaN
5     IMD025     X      NaN
6     IMD035     X      NaN
7     IMD038     X      NaN
8     IMD042     X      NaN
9     IMD044     X      NaN

In [79]:
data_bin.nevus = data_bin.nevus.astype(float)
data_bin.melanoma = data_bin.melanoma.astype(float)

In [80]:
data_bin

    image_name  nevus  melanoma
0       IMD003    1.0       0.0
1       IMD009    1.0       0.0
2       IMD016    1.0       0.0
3       IMD022    1.0       0.0
4       IMD024    1.0       0.0
..         ...    ...       ...
195     IMD424    0.0       1.0
196     IMD425    0.0       1.0
197     IMD426    0.0       1.0
198     IMD429    0.0       1.0
199     IMD435    0.0       1.0

[200 rows x 3 columns]

In [23]:
data_bin.to_csv('../PH2Dataset/binary_labels.csv', index=False)

In [17]:
data_bin = pd.read_csv('../PH2Dataset/binary_labels.csv')

In [22]:
data_bin = data_bin[(data_bin.nevus != 0.) | (data_bin.melanoma != 0.)]